
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="img/news.png" style="height: 100px; width:200px">
    </a>

    <a class="navbar-brand text-decoration-underline fw-bold" href="#" id="test"> Daily News Egypt</a>

    <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-info" type="submit">Search</button>
    </form>
</nav>
